body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}

.container {
  display: -webkit-flex;
  display: flex;
}
.sidebar {
  order: 1;
  flex: 0;
  background-color: #fff;
  flex-basis: auto;
  padding: .5rem;
  min-height: 666px;
}

.main {
  order: 1;
  flex: 4;
  background-color: #fff;
  padding: .5rem;
}

#map {
  width: 100%;
  height: 100%;
}

.hide-sidebar {
}
